In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from pprint import pprint
from datetime import datetime, timedelta

In [2]:
baltimore_path = "city_data/baltimore.csv"
boston_path = "city_data/boston.csv"
charleston_path = "city_data/charleston.csv"
huntsville_path = "city_data/huntsville.csv"
jackson_path = "city_data/jackson.csv"
little_rock_path = "city_data/little_rock.csv"
new_orleans_path = "city_data/new_orleans.csv"
newark_path = "city_data/newark.csv"
seattle_path = "city_data/seattle.csv"
washington_path = "city_data/washington.csv"

In [3]:
baltimore = pd.read_csv(baltimore_path)
boston = pd.read_csv(boston_path)
charleston = pd.read_csv(charleston_path)
huntsville = pd.read_csv(huntsville_path)
jackson = pd.read_csv(jackson_path)
little_rock = pd.read_csv(little_rock_path)
new_orleans = pd.read_csv(new_orleans_path)
newark = pd.read_csv(newark_path)
seattle = pd.read_csv(seattle_path)
washington = pd.read_csv(washington_path)

In [4]:
baltimore_df = pd.DataFrame(baltimore)
boston_df = pd.DataFrame(boston)
charleston_df = pd.DataFrame(charleston)
huntsville_df = pd.DataFrame(huntsville)
jackson_df = pd.DataFrame(jackson)
little_rock_df = pd.DataFrame(little_rock)
new_orleans_df = pd.DataFrame(new_orleans)
newark_df = pd.DataFrame(newark)
seattle_df = pd.DataFrame(seattle)
washington_df = pd.DataFrame(washington)

In [5]:

#An example of one of the dataframes
washington_df.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,washington,2022-01-01,63.5,54.1,58.3,63.5,54.1,58.3,56.0,92.1,...,0.6,0,NaN,2022-01-01T07:26:53,2022-01-01T16:56:53,0.96,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,A..."
1,washington,2022-01-02,62.7,47.8,57.5,62.7,42.0,57.0,51.6,81.6,...,1.7,1,NaN,2022-01-02T07:27:00,2022-01-02T16:57:43,0.00,"Rain, Overcast",Cloudy skies throughout the day with rain clea...,rain,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,7..."
2,washington,2022-01-03,46.0,26.1,32.7,39.4,14.3,23.0,26.6,78.7,...,0.0,0,NaN,2022-01-03T07:27:05,2022-01-03T16:58:34,0.03,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,snow,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,A..."
3,washington,2022-01-04,34.0,25.3,29.4,33.7,16.0,24.0,19.2,65.7,...,5.4,6,NaN,2022-01-04T07:27:07,2022-01-04T16:59:27,0.06,Clear,Clear conditions throughout the day.,clear-day,"KDCA,72405013743,72403793728,D6279,F0198,KADW,..."
4,washington,2022-01-05,40.8,28.1,35.8,37.2,19.8,29.5,29.0,76.3,...,2.2,1,NaN,2022-01-05T07:27:08,2022-01-05T17:00:21,0.10,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,7..."

In [6]:
#Removed some of the unnecessary columns

baltimore_df = baltimore_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
boston_df = boston_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
charleston_df = charleston_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
huntsville_df = huntsville_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
jackson_df = jackson_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
little_rock_df = little_rock_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
new_orleans_df = new_orleans_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
newark_df = newark_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
seattle_df = seattle_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]
washington_df = washington_df.loc[:, ['name', 'datetime', 'tempmin', 'tempmax', 'sunrise', 'sunset', 'icon']]

In [7]:
washington_df

,name,datetime,tempmin,tempmax,sunrise,sunset,icon
0,washington,2022-01-01,54.1,63.5,2022-01-01T07:26:53,2022-01-01T16:56:53,rain
1,washington,2022-01-02,47.8,62.7,2022-01-02T07:27:00,2022-01-02T16:57:43,rain
2,washington,2022-01-03,26.1,46.0,2022-01-03T07:27:05,2022-01-03T16:58:34,snow
3,washington,2022-01-04,25.3,34.0,2022-01-04T07:27:07,2022-01-04T16:59:27,clear-day
4,washington,2022-01-05,28.1,40.8,2022-01-05T07:27:08,2022-01-05T17:00:21,partly-cloudy-day
...,...,...,...,...,...,...,...
725,washington,2023-12-27,47.0,56.1,2023-12-27T07:25:39,2023-12-27T16:52:48,rain
726,washington,2023-12-28,51.1,56.8,2023-12-28T07:25:58,2023-12-28T16:53:30,rain
727,washington,2023-12-29,46.1,53.9,2023-12-29T07:26:14,2023-12-29T16:54:12,partly-cloudy-day
728,washington,2023-12-30,37.0,49.8,2023-12-30T07:26:28,2023-12-30T16:54:57,partly-cloudy-day
729,washington,2023-12-31,39.7,49.9,2023-12-31T07:26:40,2023-12-31T16:55:43,partly-cloudy-day

In [8]:
#Merged all of the DataFrames into one

merged_df = pd.concat([baltimore_df, boston_df, charleston_df, huntsville_df, jackson_df, little_rock_df, 
                       new_orleans_df, newark_df, seattle_df, washington_df])

merged_df.reset_index(drop=True, inplace=True)

merged_df

,name,datetime,tempmin,tempmax,sunrise,sunset,icon
0,"Baltimore, Maryland",2022-01-01,50.8,57.4,2022-01-01T07:26:21,2022-01-01T16:54:02,rain
1,"Baltimore, Maryland",2022-01-02,45.5,62.8,2022-01-02T07:26:28,2022-01-02T16:54:52,rain
2,"Baltimore, Maryland",2022-01-03,24.5,43.4,2022-01-03T07:26:32,2022-01-03T16:55:44,snow
3,"Baltimore, Maryland",2022-01-04,16.5,33.2,2022-01-04T07:26:34,2022-01-04T16:56:37,partly-cloudy-day
4,"Baltimore, Maryland",2022-01-05,24.4,41.3,2022-01-05T07:26:34,2022-01-05T16:57:31,rain
...,...,...,...,...,...,...,...
7295,washington,2023-12-27,47.0,56.1,2023-12-27T07:25:39,2023-12-27T16:52:48,rain
7296,washington,2023-12-28,51.1,56.8,2023-12-28T07:25:58,2023-12-28T16:53:30,rain
7297,washington,2023-12-29,46.1,53.9,2023-12-29T07:26:14,2023-12-29T16:54:12,partly-cloudy-day
7298,washington,2023-12-30,37.0,49.8,2023-12-30T07:26:28,2023-12-30T16:54:57,partly-cloudy-day
7299,washington,2023-12-31,39.7,49.9,2023-12-31T07:26:40,2023-12-31T16:55:43,partly-cloudy-day

In [9]:
#Added a new column to the dataframe with the 'average' daily temp.

merged_df['daily_avg_temp'] = (merged_df['tempmin'] + merged_df['tempmax']) / 2
merged_df

,name,datetime,tempmin,tempmax,sunrise,sunset,icon,daily_avg_temp
0,"Baltimore, Maryland",2022-01-01,50.8,57.4,2022-01-01T07:26:21,2022-01-01T16:54:02,rain,54.10
1,"Baltimore, Maryland",2022-01-02,45.5,62.8,2022-01-02T07:26:28,2022-01-02T16:54:52,rain,54.15
2,"Baltimore, Maryland",2022-01-03,24.5,43.4,2022-01-03T07:26:32,2022-01-03T16:55:44,snow,33.95
3,"Baltimore, Maryland",2022-01-04,16.5,33.2,2022-01-04T07:26:34,2022-01-04T16:56:37,partly-cloudy-day,24.85
4,"Baltimore, Maryland",2022-01-05,24.4,41.3,2022-01-05T07:26:34,2022-01-05T16:57:31,rain,32.85
...,...,...,...,...,...,...,...,...
7295,washington,2023-12-27,47.0,56.1,2023-12-27T07:25:39,2023-12-27T16:52:48,rain,51.55
7296,washington,2023-12-28,51.1,56.8,2023-12-28T07:25:58,2023-12-28T16:53:30,rain,53.95
7297,washington,2023-12-29,46.1,53.9,2023-12-29T07:26:14,2023-12-29T16:54:12,partly-cloudy-day,50.00
7298,washington,2023-12-30,37.0,49.8,2023-12-30T07:26:28,2023-12-30T16:54:57,partly-cloudy-day,43.40
7299,washington,2023-12-31,39.7,49.9,2023-12-31T07:26:40,2023-12-31T16:55:43,partly-cloudy-day,44.80

In [10]:
#Added a month column to help if we graph or anything by month

merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])
merged_df['month'] = merged_df['datetime'].dt.month
merged_df

,name,datetime,tempmin,tempmax,sunrise,sunset,icon,daily_avg_temp,month
0,"Baltimore, Maryland",2022-01-01,50.8,57.4,2022-01-01T07:26:21,2022-01-01T16:54:02,rain,54.10,1
1,"Baltimore, Maryland",2022-01-02,45.5,62.8,2022-01-02T07:26:28,2022-01-02T16:54:52,rain,54.15,1
2,"Baltimore, Maryland",2022-01-03,24.5,43.4,2022-01-03T07:26:32,2022-01-03T16:55:44,snow,33.95,1
3,"Baltimore, Maryland",2022-01-04,16.5,33.2,2022-01-04T07:26:34,2022-01-04T16:56:37,partly-cloudy-day,24.85,1
4,"Baltimore, Maryland",2022-01-05,24.4,41.3,2022-01-05T07:26:34,2022-01-05T16:57:31,rain,32.85,1
...,...,...,...,...,...,...,...,...,...
7295,washington,2023-12-27,47.0,56.1,2023-12-27T07:25:39,2023-12-27T16:52:48,rain,51.55,12
7296,washington,2023-12-28,51.1,56.8,2023-12-28T07:25:58,2023-12-28T16:53:30,rain,53.95,12
7297,washington,2023-12-29,46.1,53.9,2023-12-29T07:26:14,2023-12-29T16:54:12,partly-cloudy-day,50.00,12
7298,washington,2023-12-30,37.0,49.8,2023-12-30T07:26:28,2023-12-30T16:54:57,partly-cloudy-day,43.40,12
7299,washington,2023-12-31,39.7,49.9,2023-12-31T07:26:40,2023-12-31T16:55:43,partly-cloudy-day,44.80,12

In [11]:
merged_df['name'].unique()

array(['Baltimore, Maryland', 'Boston', 'Charleston WV',
       'Huntsville, Alabama', 'Jackson City, Mississippi', 'little rock',
       'New Orleans', 'newwark nj', 'seattle', 'washington'], dtype=object)

In [12]:
new_names = {
    'Baltimore, Maryland': 'Baltimore', 
    'Boston': 'Boston',
    'Charleston WV': 'Charleston',
    'Huntsville, Alabama': 'Huntsville', 
    'Jackson City, Mississippi': 'Jackson', 
    'little rock': 'Little Rock',
    'New Orleans': 'New Orleans', 
    'newwark nj': 'Newark', 
    'seattle': 'Seattle', 
    'washington': 'Washington'
}

merged_df['name'] = merged_df['name'].replace(new_names)
merged_df

,name,datetime,tempmin,tempmax,sunrise,sunset,icon,daily_avg_temp,month
0,Baltimore,2022-01-01,50.8,57.4,2022-01-01T07:26:21,2022-01-01T16:54:02,rain,54.10,1
1,Baltimore,2022-01-02,45.5,62.8,2022-01-02T07:26:28,2022-01-02T16:54:52,rain,54.15,1
2,Baltimore,2022-01-03,24.5,43.4,2022-01-03T07:26:32,2022-01-03T16:55:44,snow,33.95,1
3,Baltimore,2022-01-04,16.5,33.2,2022-01-04T07:26:34,2022-01-04T16:56:37,partly-cloudy-day,24.85,1
4,Baltimore,2022-01-05,24.4,41.3,2022-01-05T07:26:34,2022-01-05T16:57:31,rain,32.85,1
...,...,...,...,...,...,...,...,...,...
7295,Washington,2023-12-27,47.0,56.1,2023-12-27T07:25:39,2023-12-27T16:52:48,rain,51.55,12
7296,Washington,2023-12-28,51.1,56.8,2023-12-28T07:25:58,2023-12-28T16:53:30,rain,53.95,12
7297,Washington,2023-12-29,46.1,53.9,2023-12-29T07:26:14,2023-12-29T16:54:12,partly-cloudy-day,50.00,12
7298,Washington,2023-12-30,37.0,49.8,2023-12-30T07:26:28,2023-12-30T16:54:57,partly-cloudy-day,43.40,12
7299,Washington,2023-12-31,39.7,49.9,2023-12-31T07:26:40,2023-12-31T16:55:43,partly-cloudy-day,44.80,12