In [6]:
#VERSION WITH CITY LOOP

from pprint import pprint
import requests
from api_keys import YelpAPI2 as api_key
import pandas as pd

shell = []
results = {'Name': [],'Location':[],'Categories':[], 'Rating': [], 'Price': [], 'Reviews': []}
cities = ["Washington, DC", "Boston, MA", "Newark, NJ", "Baltimore, MD", "Seattle, WA", "Huntsville, AL", "Little Rock, AR", "Charleston, NC", "New Orleans, LA", "Jackson, MS"]
#cities = ["Tallahasse, FL","Jackson, MS"]

for city in cities:
    #print(city)
    url = "https://api.yelp.com/v3/businesses/search"

    headers = {"Authorization": "Bearer {}".format(api_key)}

    params =  {'location': city,
          'term': 'Restaurant',
          'radius': 5000,
          'limit': 50}

    response = requests.get(url, headers=headers, params=params)
    businesses = response.json()['businesses']

    
    for d in businesses:
        #pprint(r)
        results['Name'].append(d['name'])
        results['Location'].append(d['location']['city'])
        results['Categories'].append(d['categories'][0]['title'])
        results['Rating'].append(d['rating'])
        try:
            results['Price'].append(d['price'])
        except:
            results['Price'].append(None)
        results['Reviews'].append(d['review_count'])
        shell.append(results)
    #pprint(response.text)

#pprint(shell)
df = pd.DataFrame(results)

df.to_csv("output_data/Yelp_data.csv", index = False)

df

,Name,Location,Categories,Rating,Price,Reviews
0,Unconventional Diner,"Washington, DC",New American,4.4,$$,2788
1,L'Ardente,"Washington, DC",Italian,4.5,None,1104
2,Old Ebbitt Grill,"Washington, DC",Bars,4.2,$$,10772
3,ANJU,"Washington, DC",Korean,4.3,$$,537
4,Gypsy Kitchen DC,"Washington, DC",Tapas/Small Plates,4.3,None,883
...,...,...,...,...,...,...
495,Highball Lanes,Jackson,Bowling,3.5,None,24
496,Library Lounge,Jackson,Lounges,3.9,$$,60
497,Johnny T's Bistro & Blues,Jackson,New American,3.7,$$,94
498,Crawdad Hole,Jackson,Cajun/Creole,4.1,$$,84
499,Mayflower Cafe,Jackson,Seafood,3.4,$$,166